/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {height: 100vh;}

.title-main, .input, .account {font-family: 'Lexend Deca', sans-serif;}
/* Fim General */

body, .main, .content-main {display: flex;}
.header-main, .content-main, .footer-main {text-align: center;}

/* Main Styles */
.main {
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    width: 30vw;
    padding: 20px;
}

/* Header Styles */
.main .header-main {width: 100%;}

.main .header-main img {
    width: 110px;
    height: 30px;
}
/* Fim Header */

/* Content Main Styles */
.main .content-main {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 500px;
}

/* Title Styles */
.main .content-main .title-main {
    font-size: 19px;
    color: #343434;
}
/*  Fim Title */

/* Input Styles */
.main .content-main .input {
    width: 315px;
    height: 40px;
    border: none;
    outline: 0;
    font-size: 10px;
    border-radius: 5px;
    padding-left: 15px;
    background-color: #ECECEC;
}

.main .content-main .input:focus {
    border: 1px solid black;
    background-color: white;
}
/* Fim Input */

/* Social Media Styles */
.main .content-main .loginSocialMedia {text-align: left;}

.loginSocialMedia button {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
}

.loginSocialMedia button:first-child {background-color: #1B77F3;}

.loginSocialMedia button:last-child {background-color: #000000;}

.loginSocialMedia button img {height: 58%;}
/* Fim Social Media */

/* Checkbox Login Styles */
.checkLogin {
    width: 310px;
    text-align: left;
    font-size: 14px;
    font-family: sans-serif;
}
/* Fim Checkbox */
/* Fim Content Main */

/* Button Submit Styles  */
.button {
    width: 60px;
    height: 60px;
    border-radius: 35%;
    border-color: rgba(0, 0, 0, 0.116);
    background-color: white;
}

.button img {opacity: 0.1;}
/* Fim Button Submit */

/* Footer Styles */
.main .footer-main {
    width: 300px;
    font-size: 8px;
    color: #A7A7A7;
    text-transform: uppercase;
}

.main .footer-main p:last-child{text-align: right;}
/* Fim Footer */
/* Fim Main */

/* SplashArt Styles / General */
.splashArt{
    width: 70vw;
    background-image: url("/assets/img/ahri.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.alerts , .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 18px 15px;
}

/* Alerts Styles */
.splashArt .alerts {
    width: 36px;
    height: 36px;
    background-color: rgb(224, 75, 224);
    transform: rotate(45deg);
}

.splashArt .alerts p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    transform: rotate(315deg);
}
/* Fim Alerts */

/* Profile Styles */
.splashArt .profile {
    width: 50px;
    height: 50px;
    opacity: 0.5;
    right: 0;
    border-radius: 17px;
    border: 3px solid rgb(77, 77, 77);
    background-color: rgba(145, 145, 145, 0.349);
}

.profile img {
    width: 50%;
    height: 50%;
}
/* Fim Profile */
/* Fim SplashArt */